@charset "UTF-8";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #6b6b6b;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", Georgia, Times, serif;
  text-transform: uppercase;
}
h1,
.h1 {
  font-size: 35px;
}
h2,
.h2 {
  font-size: 25px;
}
h3,
.h3 {
  font-size: 20px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.underline {
  background-image: url(images/underline.png);
  background-repeat: no-repeat;
  float: left;
  height: 1px;
  margin: 4px 0 5px;
  width: 100%;
}
.underline.left {
  background-position: left top;
}
.lead {
  color: #6b6b6b;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.42857143;
  margin-bottom: 50px;
}

.btn-primary {
  color: #fff;
  background-color: #ff7236;
  border-color: #ff601c;
  padding-bottom: 10px;
  padding-left:5px;
  padding-right:5px;
  padding-top: 10px;
  text-decoration: none;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #ff4e03;
  border-color: #9c2f00;
}
.btn-primary:hover {
  color: #fff;
  background-color: #ff4e03;
  border-color: #de4200;
}


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
} 
.row {
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-3 {
    width: 40%;
  }
}


.bg-primary {
  background-color: #ff7236;
}

.bg-yellow {
  background-color: #f9b81e;
}
.bg-blue {
  background-color: #00adef;
}
.bg-green {
  background-color: #43c5b9;
}
.bg-light-green {
  background-color: #84bb45;
}
.bg-red {
  background-color: #f56363;
}
.bg-violet {
  background-color: #b032e4;
}
.b-primary {
  border: solid 1px #ff7236;
}

.features ul {
  list-style: none;
  margin-top: 50px;
  padding: 0;
}
.features ul li {
  float: left;
  min-height: 345px;
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  width: 33.33%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .features ul li {
    min-height: 375px;
  }
}
@media (max-width: 1024px) {
  .features ul li {
    cursor: pointer;
  }
}
@media (max-width: 991px) {
  .features ul li {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .features ul li {
    min-height: 375px;
    width: 100%;
  }
}
.features ul li .feature-box {
  color: #fff;
  height: 100%;
  left: 0;
  padding: 50px 25px 35px;
  position: absolute;
  text-align: center;
  top: 0;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 1;
}
@media (max-width: 767px) {
  .features ul li .feature-box {
    padding: 25px 25px 15px;
  }
}
.features ul li .feature-box i {
  background-image: url(images/features-icons-home-v1.png);
  background-position: 500px 500px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  margin-bottom: 21px;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  width: 62px;
}
.features ul li .feature-box i.yellow {
  background-position: 0 0;
}
.features ul li .feature-box i.light-green {
  background-position: -62px 0;
}
.features ul li .feature-box i.blue {
  background-position: -124px 0;
}
.features ul li .feature-box i.red {
  background-position: -186px 0;
}
.features ul li .feature-box i.violet {
  background-position: -248px 0;
}
.features ul li .feature-box i.green {
  background-position: -310px 0;
}
.features ul li .feature-box h3 {
  margin-bottom: 18px;
}
.features ul li .feature-box p {
  line-height: 2.1;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .features ul li .feature-box p {
    line-height: 1.9;
    margin-bottom: 20px;
  }
}
.features ul li .feature-box a {
  color: #fff;
  text-transform: uppercase;
}
.features ul li .feature-box a i {
  height: auto;
  margin-bottom: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -moz-transition: none 0.3s ease-in-out;
  -ms-transition: none 0.3s ease-in-out;
  -o-transition: none 0.3s ease-in-out;
  transition: none 0.3s ease-in-out;
  -webkit-transition: none 0.3s ease-in-out;
  width: auto;
}
.features ul li:hover {
  background-color: #fff;
}
.features ul li:hover .feature-box {
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
  color: #282828;
}
.features ul li:hover .feature-box i.yellow {
  background-position: 0 -50px;
}
.features ul li:hover .feature-box i.light-green {
  background-position: -62px -50px;
}
.features ul li:hover .feature-box i.blue {
  background-position: -124px -50px;
}
.features ul li:hover .feature-box i.red {
  background-position: -186px -50px;
}
.features ul li:hover .feature-box i.violet {
  background-position: -248px -50px;
}
.features ul li:hover .feature-box i.green {
  background-position: -310px -50px;
}
.features ul li:hover .feature-box a.yellow {
  color: #f9b81e;
}
.features ul li:hover .feature-box a.light-green {
  color: #84bb45;
}
.features ul li:hover .feature-box a.blue {
  color: #00adef;
}
.features ul li:hover .feature-box a.red {
  color: #f56363;
}
.features ul li:hover .feature-box a.violet {
  color: #b032e4;
}
.features ul li:hover .feature-box a.green {
  color: #43c5b9;
}
.features ul li:hover .feature-box a:hover {
  color: #282828;
}